# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.[pg]ch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.log
*.dblite
docs/*

# Compiled binaries
deploy
cmake-build-*/

# IDE files
.idea/

# Instances
/instances
