# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.[pg]ch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.log
*.dblite
docs/*

# Compiled binaries
deploy/
cmake-build-*/
build/

# IDE files
.idea/

# Instances
/instances

test_graphs_list.txt
test_labels_list.txt
train_graphs_list.txt
train_labels_list.txt
